html {
  scroll-behavior: smooth;
  background-color: rgb(243, 251, 253);
}
h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: black;
}
p {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20;
}
.p-margins {
  margin-left: 10px;
  margin-right: 10px;
}
h3 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;

}

h4 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.intro {
  height: 100%;
  width: 100%;
  border-bottom: solid;
  border-width: 1px;
  position: relative;
}
.mapsect {
  height: 110%;
  width: 100%;
  border-bottom: solid;
  border-width: 1px;
}
.sect {
  height: 100%;
}
.bordersect {
  border-bottom: solid;
  border-width: 1px;

}

.dishsect {
  height: 125%;
}
.twobarsect {
  height: 100%;
}
.fullsect {
  height: 175%
}
.closing{
  border-bottom: solid;
  border-width: 1px;
}
.footer {
  text-align: end;
}
.container {
  margin-top: 10%;

}
.statesChoice {
  display: flex;
}
.divrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-button {
  margin-right: 5px;
  background-color: blue;
  border-color: black;
  border-radius: 10px;
}
.left-button:hover{
  background-color: orange;
}
.right-button {
  margin-left: 5px;
  background-color: blue;
  border-color: black;
  border-radius: 10px;
}
.right-button:hover{
  background-color: orange;
}
.button {
  background-color: blue;
  border-radius: 10px;
}
.button:hover{
  background-color: orange;
}
.next-button {
  background-color: blue;
  border-radius: 10px;
}
.next-button:hover{
  background-color: orange;
}
.col1{
  width: 66%;
}
.col2{
  margin-left:5px;
  width: 33%;
}

.marginleft {
  margin-left:15px;
}
.mapbutton {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

}

#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    text-align: center;
  }
  #tooltip.hidden {
    display: none;
  }
  #tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
  }

  #statetooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    color: white;
    background-color: black;
    opacity: 0.8;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    text-align: center;
    
  }

  #statetooltip.hidden {
    display: none;
  }

  #statetooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
  }

  #bubbletooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    color: white;
    background-color: black;
    opacity: 0.8;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    text-align: center;
  }

  #bubbletooltip.hidden {
    display: none;
  }

  #bubbletooltip p {
    margin: 0;
    width:auto;
    font-family: sans-serif;
    font-size: 12px;
    line-height: auto;
  }
